


<!-- ////// -->

<div class="page" dir="rtl">
  <mat-card class="card">
    <!-- <div class="card__header"> -->
    <div class="card__header gov-header">

      <div class="crest">
    <img src="/logo.png" class="logo" alt="شعار الوزارة" />
      </div>
      <div class="titles">
        <div class="country">الجمهورية العربية السورية</div>
        <div class="ministry">وزارة الطاقة</div>
        <div class="dept">مديرية الموارد البشرية</div>
      </div>

    <div class="doc-meta">
        <div>التاريخ: <strong>{{ (today() | date:'yyyy/MM/dd') || '' }}</strong></div>
        <button mat-icon-button class="back-btn" (click)="goHome()" aria-label="رجوع للصفحة الرئيسية">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

          </div>



      <div class="card__title">
        <mat-icon aria-hidden="true">person_add</mat-icon>
        <h2>إضافة موظف جديد</h2>
      </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form">

    <mat-horizontal-stepper [linear]="true" dir="rtl">
      
      <!-- الخطوة الأولى: بيانات أساسية -->
      <mat-step [stepControl]="basic">
       <!-- //not form its div -->
        <div [formGroup]="basic">
          <ng-template matStepLabel>المعلومات الأساسية</ng-template>
                <div class="step-body">

          <div class="grid">
            <mat-form-field appearance="outline">
              <mat-label>الاسم</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error *ngIf="basic.get('firstName')?.hasError('required')">هذا الحقل مطلوب</mat-error>
               @if (basic.get('firstName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (basic.get('firstName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>الكنية</mat-label>
              <input matInput formControlName="lastName" />
              @if (basic.get('lastName')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('lastName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('lastName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>اسم الأب</mat-label>
              <input matInput formControlName="fatherName" />
                @if (basic.get('fatherName')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('fatherName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('fatherName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>الجنس</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="male">ذكر</mat-option>
                <mat-option value="female">أنثى</mat-option>
              </mat-select>
              @if (genderCtrl.touched && genderCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار الجنس</mat-error>
          }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>تاريخ الولادة</mat-label>
              <input matInput type="date" formControlName="birthDate" />
              @if (basic.get('birthDate')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('birthDate')?.hasError('invalidDate')) {
            <mat-error>    أدخل تاريخًا صالحا</mat-error>
          }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>المسمى الوظيفي</mat-label>
              <mat-select formControlName="jobTitle">
               @for (j of jobTitles; track j) {
              <mat-option [value]="j">{{ j }}</mat-option>
            }
          </mat-select>
          @if (jobTitleCtrl.touched && jobTitleCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار المسمى الوظيفي</mat-error>
          }
            </mat-form-field>
          </div>
</div>
          <div class="actions">
            <button mat-button matStepperNext [disabled]="basic.invalid">التالي</button>
          </div>
        </div>
      </mat-step>

      <!-- الخطوة الثانية: بيانات تفصيلية -->
      <mat-step [stepControl]="details">

        <!-- //converted from form into div -->
        <div [formGroup]="details">
          <ng-template matStepLabel>معلومات تفصيلية</ng-template>
                <div class="step-body">

          <div class="grid">
            <mat-form-field appearance="outline">
              <mat-label>رقم الملف الورقي</mat-label>
              <input matInput formControlName="paperFileNumber" />
              @if (paperFileNumberCtrl.touched && paperFileNumberCtrl.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (paperFileNumberCtrl.touched && paperFileNumberCtrl.hasError('pattern')) {
            <mat-error>أرقام فقط (حتى 10)</mat-error>
          }
          @if (paperFileNumberCtrl.hasError('pattern')) {
  <mat-error> يُسمح فقط بالأرقام (بدون حروف)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>الاختصاص الجامعي</mat-label>
              <input matInput formControlName="collage" />
              @if (collageCtrl.touched && collageCtrl.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (collageCtrl.touched && collageCtrl.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (collageCtrl.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>التحصيل العلمي</mat-label>
              <mat-select formControlName="education">
                <mat-option *ngFor="let e of educations" [value]="e">{{ e }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
              <mat-label>تاريخ الانتساب</mat-label>
              <input matInput [matDatepicker]="workPicker" formControlName="workDate" />
              <mat-datepicker-toggle matSuffix [for]="workPicker"></mat-datepicker-toggle>
              <mat-datepicker #workPicker></mat-datepicker>
            </mat-form-field> -->

           

<mat-form-field appearance="outline">
  <mat-label>تاريخ الانتساب</mat-label>
  <!-- <input matInput [matDatepicker]="workPicker" formControlName="workDate"> -->
   <!-- <input matInput [matDatepicker]="workPicker" formControlName="workDate"
       (dateChange)="onWorkPick($event)"> -->

       <input matInput
  [matDatepicker]="workPicker"
  formControlName="workDate"
  (dateInput)="onWorkPick($event)"  
/>


  <mat-datepicker-toggle matSuffix [for]="workPicker"></mat-datepicker-toggle>
  <mat-datepicker #workPicker>
  <mat-datepicker-actions>
    <!-- <button mat-button matDatepickerToday>اليوم</button> -->
    <button mat-button (click)="workDateCtrl.setValue( today()); workPicker.close()">اليوم</button>

    <span class="spacer"></span>
    <button mat-button matDatepickerCancel>إلغاء</button>
    <button mat-raised-button color="primary" matDatepickerApply>تأكيد</button>
  </mat-datepicker-actions>

  </mat-datepicker>
  <mat-error *ngIf="workDateCtrl.touched && workDateCtrl.hasError('required')">
    هذا الحقل مطلوب
  </mat-error>
</mat-form-field>

            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>مكان السكن</mat-label>
              <textarea matInput formControlName="residence" rows="2"></textarea>
            </mat-form-field>
          </div>

          </div>

          <div class="actions">
            <button mat-button matStepperPrevious>السابق</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
              حفظ   معلومات الموظف
            </button>
            
          </div>
        
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
