


<!-- ////// -->

<div class="page" dir="rtl">
  <mat-card class="card">
    <!-- <div class="card__header"> -->
    <div class="card__header gov-header">

      <div class="crest">
    <img src="/logo.png" class="logo" alt="شعار الوزارة" />
      </div>
      <div class="titles">
        <div class="country">الجمهورية العربية السورية</div>
        <div class="ministry">وزارة الطاقة</div>
        <div class="dept">مديرية الموارد البشرية</div>
      </div>

    <div class="doc-meta">
        <div>التاريخ: <strong>{{ (today() | date:'yyyy/MM/dd') || '' }}</strong></div>
        <button mat-icon-button class="back-btn" (click)="goHome()" aria-label="رجوع للصفحة الرئيسية">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

          </div>



      <div class="card__title">
        <mat-icon aria-hidden="true">person_add</mat-icon>
        <h2>إضافة موظف جديد</h2>
      </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form">

    <mat-horizontal-stepper [linear]="true" dir="rtl">
      
      <!-- الخطوة الأولى: بيانات أساسية -->
      <mat-step [stepControl]="basic">
       <!-- //not form its div -->
        <div [formGroup]="basic">
          <ng-template matStepLabel>المعلومات الأساسية</ng-template>
                <div class="step-body">

          <div class="grid">
            <mat-form-field appearance="outline">
              <mat-label>الاسم</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error *ngIf="basic.get('firstName')?.hasError('required')">هذا الحقل مطلوب</mat-error>
                @if(basic.get('firstName')?.hasError('minlength')){

                                <mat-error >هذا الحقل مطلوب</mat-error>
                }

               @if (basic.get('firstName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (basic.get('firstName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>الكنية</mat-label>
              <input matInput formControlName="lastName" />
              @if (basic.get('lastName')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('lastName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('lastName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>اسم الأب</mat-label>
              <input matInput formControlName="fatherName" />
                @if (basic.get('fatherName')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('fatherName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('fatherName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>


               <mat-form-field appearance="outline">
              <mat-label>اسم الأم والكنية</mat-label>
              <input matInput formControlName="motherName" />
              @if (basic.get('motherName')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('motherName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('motherName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            
            <mat-form-field appearance="outline">
              <mat-label>الجنس</mat-label>
              <!-- <mat-select formControlName="gender">
                <mat-option value="male">ذكر</mat-option>
                <mat-option value="female">أنثى</mat-option>
              </mat-select> -->
              <mat-select formControlName="gender">
  <mat-option *ngFor="let g of (genders$ | async)" [value]="g.value">
    {{ g.label }}
  </mat-option>
</mat-select>
              @if (genderCtrl.touched && genderCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار الجنس</mat-error>
          }
            </mat-form-field>



      <mat-form-field appearance="outline">
  <mat-label>تاريخ الولادة</mat-label>

  <!-- مهم: بدون type="date" -->
  <input matInput [matDatepicker]="bdPicker" formControlName="birthDate" />

  <mat-datepicker-toggle matSuffix [for]="bdPicker"></mat-datepicker-toggle>
  <mat-datepicker #bdPicker></mat-datepicker>

  @if (basic.get('birthDate')?.hasError('required')) {
    <mat-error>هذا الحقل مطلوب</mat-error>
  }
  @if (basic.get('birthDate')?.hasError('futureDate')) {
    <mat-error>لا يمكن أن يكون التاريخ في المستقبل</mat-error>
  }
</mat-form-field>



            <!-- <mat-form-field appearance="outline">
              <mat-label>المسمى الوظيفي</mat-label>
              <mat-select formControlName="jobTitle">
               @for (j of jobTitles; track j) {
              <mat-option [value]="j">{{ j }}</mat-option>
            }
          </mat-select> -->
          <!-- @if (jobTitleCtrl.touched && jobTitleCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار المسمى الوظيفي</mat-error>
          } -->
            <!-- </mat-form-field> -->
 <!-- <mat-form-field appearance="outline"> -->
              <!-- <mat-label>  الجنسية</mat-label>
              <input matInput formControlName="nationality" />
              @if (basic.get('nationality')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }  
                <mat-option *ngFor="let e of nationalities" [value]="e">{{ e }}</mat-option>

        
            </mat-form-field> -->



   <!-- <mat-form-field appearance="outline" class="w-full">
  <mat-label>الجنسية</mat-label>
  <mat-select formControlName="nationality" [multiple]="true">
    <mat-option *ngFor="let n of nationalities" [value]="n">
      {{ n }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="basic.get('nationality')?.hasError('required')">
    هذا الحقل مطلوب
  </mat-error>
</mat-form-field> -->
<!-- الجنسية (اختيار متعدد) -->
<mat-form-field appearance="outline" class="w-full" dir="rtl">
  <mat-label>الجنسية</mat-label>

  <mat-select formControlName="nationality" [multiple]="true">

    <!-- تريغر مخصص لعرض المختارات -->
    <mat-select-trigger>
      {{ nationalityDisplay }}
    </mat-select-trigger>

    <!-- الخيارات الثابتة + الديناميكية -->
    <mat-option *ngFor="let n of nationalities" [value]="n">
      {{ n }}
    </mat-option>

    <!-- خيار خاص لفتح مربع الحوار -->
    <mat-option class="text-primary" (click)="onAddOtherClick($event)" [disabled]="false">
      <mat-icon class="me-2">add</mat-icon>
      إضافة جنسية أخرى…
    </mat-option>
    

  </mat-select>

  <mat-error *ngIf="basic.get('nationality')?.hasError('required')">
    هذا الحقل مطلوب
  </mat-error>
</mat-form-field>



            <mat-form-field appearance="outline">
              <mat-label>الحالة الاجتماعية </mat-label>
              <!-- <mat-select formControlName="materialStatus">
               @for (m of materialStatus; track m) {
              <mat-option [value]="m">{{ m }}</mat-option>
            }
          </mat-select>  -->
          <mat-select formControlName="materialStatus">
  <mat-option *ngFor="let m of (maritalStatus$ | async)" [value]="m.value">
    {{ m.label }}
  </mat-option>
</mat-select>

          @if ( materialStatusCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار الحالة الاجتماعية</mat-error>
          } 
               </mat-form-field>




               <mat-form-field appearance="outline">
              <mat-label>  عدد الأشخاص المعيلين</mat-label>
              <input matInput formControlName="dependences" />
              @if (basic.get('dependences')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('dependences')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('dependences')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>


          </div>
</div>
          <div class="actions">
            <button mat-button matStepperNext [disabled]="basic.invalid">التالي</button>
          </div>
        </div>
      </mat-step>


        <mat-step [stepControl]="personals">
       <!-- //not form its div -->
        <div [formGroup]="personals">
          <ng-template matStepLabel>المعلومات الشخصية</ng-template>
                <div class="step-body">

          <div class="grid">
            <mat-form-field appearance="outline">
              <mat-label>مكان الولادة</mat-label>
              <input matInput formControlName="placeBirth" />
              <mat-error *ngIf="personals.get('placeBirth')?.hasError('required')">هذا الحقل مطلوب</mat-error>
               @if (personals.get('placeBirth')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (personals.get('placeBirth')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>اللأمانة المركزية</mat-label>
              <input matInput formControlName="centralSecretaion" />
              @if (personals.get('centralSecretaion')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (personals.get('centralSecretaion')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (personals.get('centralSecretaion')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> القيد ورقمه</mat-label>
              <input matInput formControlName="familyRegistration" />
                @if (personals.get('familyRegistration')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (personals.get('familyRegistration')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          
            </mat-form-field>



            <mat-form-field appearance="outline">
              <mat-label> الرقم الوطني</mat-label>
              <input matInput formControlName="nationalNumber" />
                @if (personals.get('nationalNumber')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (personals.get('nationalNumber')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن رقمين</mat-error>
          }

           @if (personals.get('nationalNumber')?.hasError('pattern')) {
          <mat-error>يُسمح فقط بالارقام </mat-error>
}
            </mat-form-field><mat-form-field appearance="outline">
              <mat-label> رقم الهوية </mat-label>
              <input matInput formControlName="idNumber" />
                @if (personals.get('idNumber')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (personals.get('idNumber')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن رقمين</mat-error>
          }

           @if (personals.get('idNumber')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأرقام  </mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>زمرة الدم </mat-label>
              <!-- <mat-select formControlName="bloodType">
               <mat-option *ngFor="let e of bloodTypes" [value]="e">{{ e }}</mat-option>

              </mat-select> -->
              <mat-select formControlName="bloodType">
  <mat-option *ngFor="let b of (bloodTypes$ | async)" [value]="b.value">
    {{ b.label }}
  </mat-option>
</mat-select>

              @if (genderCtrl.touched && genderCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار زمرة الدم</mat-error>
          }
            </mat-form-field>

           
          </div>
</div>
          <div class="actions">
              <button mat-button matStepperPrevious>السابق</button>

            <button mat-button matStepperNext [disabled]="personals.invalid">التالي</button>

          </div>
        </div>
      </mat-step>



      <mat-step [stepControl]="communication">
       <!-- //not form its div -->
        <div [formGroup]="communication">
          <ng-template matStepLabel>معلومات التواصل</ng-template>
                <div class="step-body">

          <div class="grid">

            <mat-form-field appearance="outline">
              <mat-label>  مكان السكن  الدائم </mat-label>
              <input matInput formControlName="permenentAddress" />
                 <!-- <textarea matInput formControlName="permenentAddress" ></textarea> -->
                  <!-- <mat-error *ngIf="personals.get('permenentAddress')?.hasError('required')">هذا الحقل مطلوب</mat-error>
               @if (personals.get('permenentAddress')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          } -->

  
            </mat-form-field>

               <mat-form-field appearance="outline">
              <mat-label>مكان السكن الحالي </mat-label>
              <input matInput formControlName="residence" />
                 <!-- <textarea matInput formControlName="residence" ></textarea> -->

            </mat-form-field>

             <!-- <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>مكان السكن</mat-label>
              <textarea matInput formControlName="residence" rows="2"></textarea>
            </mat-form-field> -->

            <mat-form-field appearance="outline">
              <mat-label> رقم الهاتف </mat-label>
              <input matInput formControlName="phoneNumber" />
                @if (communication.get('phoneNumber')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (communication.get('phoneNumber')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن  رقمين  </mat-error>
          }

           @if (communication.get('phoneNumber')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالارقام  </mat-error>
}
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label> رقم الواتساب </mat-label>
              <input matInput formControlName="whatsappNumber" />
                @if (communication.get('whatsappNumber')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (communication.get('whatsappNumber')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن رقمين</mat-error>
          }

           @if (communication.get('whatsappNumber')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالارقام </mat-error>
}
            </mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>الايميل</mat-label>
  <input matInput formControlName="email" />

  @if (communication.get('email')?.hasError('email') 
       && communication.get('email')?.touched) {
    <mat-error>البريد الإلكتروني غير صحيح</mat-error>
  }
</mat-form-field>

            
            <mat-form-field appearance="outline">
              <mat-label> رقم هاتف الطوارئ </mat-label>
              <input matInput formControlName="emergencyPhone1" />
                @if (communication.get('emergencyPhone1')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (communication.get('emergencyPhone1')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن  رقمين  </mat-error>
          }

           @if (communication.get('emergencyPhone1')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالارقام  </mat-error>
}
            </mat-form-field>

             <mat-form-field appearance="outline">
              <mat-label> رقم واتساب الطوارئ </mat-label>
              <input matInput formControlName="emergencyPhone2" />
                @if (communication.get('emergencyPhone2')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (communication.get('emergencyPhone2')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن  رقمين  </mat-error>
          }

           @if (communication.get('emergencyPhone2')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالارقام  </mat-error>
}
            </mat-form-field>
  


            <mat-form-field appearance="outline">
              <mat-label> اسم مسؤول للطوارئ</mat-label>
              <input matInput formControlName="emergencyName" />
              @if (basic.get('emergencyName')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (basic.get('emergencyName')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (basic.get('emergencyName')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>  صلة القرابة</mat-label>
              <!-- <mat-select formControlName="emergencyContentRelation">
                <mat-option *ngFor="let e of emergencyContentRelations" [value]="e">{{ e }}</mat-option>
              </mat-select> -->
              <mat-select formControlName="emergencyContentRelation">
  <mat-option *ngFor="let e of (emergencyRelations$ | async)" [value]="e.value">
    {{ e.label }}
  </mat-option>
</mat-select>

              @if (basic.get('emergencyContentRelation')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
       
            </mat-form-field>


            

</div>
</div>
           
        


<div class="actions">
                         <button mat-button matStepperPrevious>السابق</button>

            <button mat-button matStepperNext [disabled]="communication.invalid">التالي</button>
          </div>
        </div>
      </mat-step>






      <!-- الخطوة الثانية: بيانات تفصيلية -->
      <mat-step [stepControl]="details">

        <!-- //converted from form into div -->
        <div [formGroup]="details">


          <ng-template matStepLabel>معلومات تفصيلية</ng-template>
                <div class="step-body">

          <div class="grid">
            <mat-form-field appearance="outline">
              <mat-label>رقم الملف الورقي</mat-label>
              <input matInput formControlName="paperFileNumber" />
              @if (paperFileNumberCtrl.touched && paperFileNumberCtrl.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (paperFileNumberCtrl.touched && paperFileNumberCtrl.hasError('pattern')) {
            <mat-error>أرقام فقط (حتى 10)</mat-error>
          }
          @if (paperFileNumberCtrl.hasError('pattern')) {
  <mat-error> يُسمح فقط بالأرقام (بدون حروف)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>الاختصاص الجامعي</mat-label>
              <input matInput formControlName="collage" />
              @if (collageCtrl.touched && collageCtrl.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (collageCtrl.touched && collageCtrl.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (collageCtrl.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>التحصيل العلمي</mat-label>
              <!-- <mat-select formControlName="education">
                <mat-option *ngFor="let e of educations" [value]="e">{{ e }}</mat-option>
              </mat-select> -->

              <mat-select formControlName="education">
  <mat-option *ngFor="let e of (educations$ | async)" [value]="e.value">
    {{ e.label }}
  </mat-option>
</mat-select>

            </mat-form-field>



             <mat-form-field appearance="outline">
              <mat-label>مصدر  الشهادة</mat-label>
              <input matInput formControlName="sourceAcadimicQualification" />
              @if (sourceAcadimicQualificationCtrl.touched && collageCtrl.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (sourceAcadimicQualificationCtrl.touched && collageCtrl.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (sourceAcadimicQualificationCtrl.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>
<!-- 
  <mat-form-field appearance="outline">
              <mat-label>تاريخ اصدار  الشهادة</mat-label>
              <input matInput type="date" formControlName="dateQualification" />
             @if (details.get('dateQualification')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
 @if (details.get('dateQualification')?.hasError('invalidDate')) {
            <mat-error>    أدخل تاريخًا صالحا</mat-error>
          }
             
      
        
            </mat-form-field> -->

            <mat-form-field appearance="outline">
  <mat-label>تاريخ إصدار الشهادة</mat-label>

  <input
    matInput
    [matDatepicker]="dqPicker"
    formControlName="dateQualification"
    [max]="today()"  
  />
  <mat-datepicker-toggle matSuffix [for]="dqPicker"></mat-datepicker-toggle>
  <mat-datepicker #dqPicker></mat-datepicker>

  @if (details.get('dateQualification')?.hasError('required')) {
    <mat-error>هذا الحقل مطلوب</mat-error>
  }
  @if (details.get('dateQualification')?.hasError('futureDate')) {
    <mat-error>لا يمكن أن يكون التاريخ في المستقبل</mat-error>
  }
</mat-form-field>


              <mat-form-field appearance="outline">
              <mat-label>تفاصيل الشهادة</mat-label>
              <input matInput formControlName="detailsQualification" />
              @if (detailsQualificationCtrl.touched && detailsQualificationCtrl.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (detailsQualificationCtrl.touched && detailsQualificationCtrl.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

          @if (detailsQualificationCtrl.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>




  <mat-form-field appearance="outline">
              <mat-label>المسمى الوظيفي</mat-label>
              <!-- <mat-select formControlName="jobTitle">
               @for (j of jobTitles; track j) {
              <mat-option [value]="j">{{ j }}</mat-option>
            }
          </mat-select> -->
          <mat-select formControlName="jobTitle">
  <mat-option *ngFor="let j of (jobTitles$ | async)" [value]="j.value">
    {{ j.label }}
  </mat-option>
</mat-select>
          @if (jobTitleCtrl.touched && jobTitleCtrl.hasError('required')) {
            <mat-error>الرجاء اختيار المسمى الوظيفي</mat-error>
          } 
             </mat-form-field> 

           
          </div>


          </div>

          <div class="actions">
            <!-- <button mat-button matStepperNext [disabled]="basic.invalid">التالي</button> -->
            <button mat-button matStepperPrevious>السابق</button>
                  <!-- <button mat-button matStepperNext >التالي</button> -->
                  <button mat-button matStepperNext [disabled]="details.invalid">التالي</button>



          </div>
        
        </div>
      </mat-step>



       <mat-step [stepControl]="workdetails">
       <!-- //not form its div -->
        <div [formGroup]="workdetails">
          <ng-template matStepLabel>تفاصيل التعيين</ng-template>
                <div class="step-body">

          <div class="grid">
            <mat-form-field appearance="outline">
              <mat-label> قرار بدء التعيين</mat-label>
              <input matInput formControlName="decisionStart" />
              <mat-error *ngIf="workdetails.get('decisionStart')?.hasError('required')">هذا الحقل مطلوب</mat-error>
        
            </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>تاريخ بدء التعيين</mat-label>

    <input matInput
           [matDatepicker]="workPicker"
           [formControl]="workDateCtrl"
           (dateChange)="onWorkPick($event)"
            [max]="today()" 
    />

    <mat-datepicker-toggle matSuffix [for]="workPicker"></mat-datepicker-toggle>
    <mat-datepicker #workPicker>
      <mat-datepicker-actions>
        <button mat-button (click)="workDateCtrl.setValue(today()); workPicker.close()">اليوم</button>
        <span class="spacer"></span>
        <button mat-button matDatepickerCancel>إلغاء</button>
        <button mat-raised-button color="primary" matDatepickerApply>تأكيد</button>
      </mat-datepicker-actions>
    </mat-datepicker>

    <mat-error *ngIf="workDateCtrl.touched && workDateCtrl.hasError('required')">
      هذا الحقل مطلوب
    </mat-error>
  </mat-form-field>



            <!-- <mat-form-field appearance="outline">
              <mat-label>مكان المباشرة </mat-label>
              <input matInput formControlName="placeActionWork" />
              @if (workdetails.get('placeActionWork')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (workdetails.get('placeActionWork')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (workdetails.get('placeActionWork')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field> -->
<!-- 
            <mat-form-field appearance="outline" class="w-100">
    <mat-label>الإدارة الأساسية</mat-label>
    <mat-select formControlName="mainDeptCode">
      <mat-option *ngFor="let d of departments" [value]="d.code">{{ d.name }}</mat-option>
    </mat-select>
    @if (mainDeptCodeCtrl.hasError('required') && mainDeptCodeCtrl.touched) {
      <mat-error>اختر الإدارة الأساسية</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>القسم الفرعي</mat-label>
    <mat-select formControlName="subDeptCode" [disabled]="!filteredSubs.length">
      <mat-option *ngIf="!filteredSubs.length" [disabled]="true">لا توجد أقسام فرعية</mat-option>
      <mat-option *ngFor="let s of filteredSubs" [value]="s.code">{{ s.name }}</mat-option>
    </mat-select>
    @if (subDeptCodeCtrl.hasError('required') && subDeptCodeCtrl.touched) {
      <mat-error>اختر القسم الفرعي</mat-error>
    }
  </mat-form-field> -->

  <!-- المستوى 1 -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>الإدارة الأساسية</mat-label>
  <mat-select formControlName="level1Code" required>
    <mat-option *ngFor="let n of departments" [value]="n.code">
      {{ n.name }}
    </mat-option>
  </mat-select>
  @if (workdetails.get('level1Code')?.hasError('required') && workdetails.get('level1Code')?.touched) {
    <mat-error>اختر الإدارة الأساسية</mat-error>
  }
</mat-form-field>

<!-- المستوى 2 -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>القسم الفرعي</mat-label>
  <mat-select formControlName="level2Code" [disabled]="!level2List.length" required>
    <mat-option *ngIf="!level2List.length" [disabled]="true">لا توجد أقسام فرعية</mat-option>
    <mat-option *ngFor="let n of level2List" [value]="n.code">
      {{ n.name }}
    </mat-option>
  </mat-select>
  @if (workdetails.get('level2Code')?.hasError('required') && workdetails.get('level2Code')?.touched) {
    <mat-error>اختر القسم الفرعي</mat-error>
  }
</mat-form-field>

<!-- المستوى 3 (اختياري) -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>شعبة </mat-label>
  <mat-select formControlName="level3Code" [disabled]="!level3List.length">
    <mat-option *ngIf="!level3List.length" [disabled]="true">لا توجد شعب</mat-option>
    <mat-option *ngFor="let n of level3List" [value]="n.code">
      {{ n.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- المستوى 4 (اختياري) -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>  (الطابق)</mat-label>
  <mat-select formControlName="level4Code" [disabled]="!level4List.length">
    <mat-option *ngIf="!level4List.length" [disabled]="true">لا يوجد مستوى أدق</mat-option>
    <mat-option *ngFor="let n of level4List" [value]="n.code">
      {{ n.name }}
    </mat-option>
  </mat-select>
</mat-form-field>




         <mat-form-field appearance="outline">
  <mat-label>تاريخ المباشرة</mat-label>

  <input
    matInput
    [matDatepicker]="dateActionWorkPicker"
    [formControl]="dateActionWorkCtrl"
    (dateChange)="onWorkPick($event)" 
    [min]="workDateCtrl.value || null" 
     [max]="today()"   
  />

  <mat-datepicker-toggle matSuffix [for]="dateActionWorkPicker"></mat-datepicker-toggle>
  <mat-datepicker #dateActionWorkPicker>
    <mat-datepicker-actions>
      <button mat-button (click)="dateActionWorkCtrl.setValue(today()); dateActionWorkPicker.close()">
        اليوم
      </button>
      <span class="spacer"></span>
      <button mat-button matDatepickerCancel>إلغاء</button>
      <button mat-raised-button color="primary" matDatepickerApply>تأكيد</button>
    </mat-datepicker-actions>
  </mat-datepicker>

  <mat-error *ngIf="dateActionWorkCtrl.touched && dateActionWorkCtrl.hasError('required')">
    هذا الحقل مطلوب
  </mat-error>
  <mat-error *ngIf="dateActionWorkCtrl.hasError('matDatepickerMin')">
    لا يمكن أن يكون قبل تاريخ بدء التعيين
  </mat-error>
</mat-form-field>




            <mat-form-field appearance="outline">
              <mat-label> نوع التعيين</mat-label>

  <!-- اربط الـ mat-select بالكنترول -->
  <mat-select [formControl]="appointmentTypeCtrl">
    <mat-option [value]="''">— اختر —</mat-option>

    <!-- اجلب الخيارات من السيرفس -->
    <ng-container *ngIf="appointmentTypes$ | async as opts">
      <mat-option
        *ngFor="let o of opts; trackBy: trackByValue"
        [value]="o.value">
        {{ o.label }}
      </mat-option>
    </ng-container>
  </mat-select>
             
            </mat-form-field>
            
           


            <mat-form-field appearance="outline">
              <mat-label> الفئة الوظيفية  </mat-label>
              <!-- <input matInput formControlName="jobCategory" /> -->

              <mat-select [formControl]="jobCategoryCtrl">
    <mat-option [value]="''">— اختر —</mat-option>

    <ng-container *ngIf="jobCategories$ | async as opts">
      <mat-option *ngFor="let o of opts; trackBy: trackByValue" [value]="o.value">
        {{ o.label }}
      </mat-option>
    </ng-container>
  </mat-select>



                @if (workdetails.get('jobCategory')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (workdetails.get('jobCategory')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن حرفين</mat-error>
          }

           @if (workdetails.get('jobCategory')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالأحرف (بدون أرقام أو رموز)</mat-error>
}
            </mat-form-field>


            <mat-form-field appearance="outline" class="w-full" dir="rtl">
  <mat-label>الصفةالوظيفة </mat-label>
  <mat-select [formControl]="jobAttributeCtrl">
    <mat-option [value]="''">— اختر —</mat-option>

    <ng-container *ngIf="jobAttributes$ | async as opts">
      <mat-option *ngFor="let o of opts; trackBy: trackByValue" [value]="o.value">
        {{ o.label }}
      </mat-option>
    </ng-container>
  </mat-select>

  <mat-error *ngIf="jobAttributeCtrl.hasError('required')">
    هذا الحقل مطلوب
  </mat-error>
</mat-form-field>


 <mat-form-field appearance="outline" class="w-full" dir="rtl">
  <mat-label>صفة التعيين </mat-label>
  <mat-select [formControl]="decisionAttributeCtrl">
    <mat-option [value]="''">— اختر —</mat-option>

    <ng-container *ngIf="decisionAttribute$ | async as opts">
      <mat-option *ngFor="let o of opts; trackBy: trackByValue" [value]="o.value">
        {{ o.label }}
      </mat-option>
    </ng-container>
  </mat-select>

  <mat-error *ngIf="decisionAttributeCtrl.hasError('required')">
    هذا الحقل مطلوب
  </mat-error>
</mat-form-field>



             <mat-form-field appearance="outline">
              <mat-label> راتب بدء التعيين   </mat-label>
              <input matInput formControlName="startingSalary" />
                @if (workdetails.get('startingSalary')?.hasError('required')) {
            <mat-error>هذا الحقل مطلوب</mat-error>
          }
          @if (workdetails.get('startingSalary')?.hasError('minlength')) {
            <mat-error>يجب ألا يقل عن  رقمين</mat-error>
          }

           @if (workdetails.get('startingSalary')?.hasError('pattern')) {
  <mat-error>يُسمح فقط بالارقام </mat-error>
}
            </mat-form-field>


               <mat-form-field appearance="outline">
              <mat-label>   ملاحظات   </mat-label>
              <input matInput formControlName="notes" />
               
            </mat-form-field>
            
           
          </div>
</div>
          <!-- <div class="actions">
                         <button mat-button matStepperPrevious>السابق</button>
             <button mat-button matStepperNext [disabled]="workdetails.invalid">التالي</button> -->

               <div class="actions">
            <button mat-button matStepperPrevious>السابق</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
              حفظ   معلومات الموظف
            </button>
     





            
          </div>
        </div>
      </mat-step>










    </mat-horizontal-stepper>
  </form>
</mat-card>
